@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DevHunter.Web.ViewModels.Home.HomeViewModel

<section class="site-homepage">
	<div class="container-wrap">
		<h2>Explore Opportunities</h2>
		<h2>DevHunter Awaits You.</h2>
		<p>A successful business needs a qualified team of people</p>
		<div class="section-search-job">
			<div class="input-container">
				<i class="search-icon fa-solid fa-magnifying-glass"></i>
				<form id="jobSearchForm" asp-controller="JobOffer" asp-action="AllSearch" method="get">
					<input placeholder="Find Your Dream Job here..." type="search" name="search" />
					<i class="enter-icon fa-solid fa-arrow-right" onclick="submitForm()"></i>
					<button type="submit" hidden></button>
				</form>
			</div>
		</div>
	</div>
</section>

<section class="homepage-categories">
	<div class="inner">
		<div class="container">
			<div id="section-category-block" class="section-category-block">
				@* Repeatable *@
				@foreach (var development in Model.Developments)
				{
					<div class="category-block">
						<a class="section-collapse collapsed">
							<img src="~/svgs/arrow-right-blue.svg" alt="Collapse section">
						</a>
						<div class="category-block-title-holder">
							<a class="category-name" href="#">
								@development.Name
								<span class="job-qty">@development.Count</span>
							</a>
						</div>
						@foreach (var technology in development.Technologies)
						{
							@* Repeatable *@
							<div class="child-term">
								<a href="#">
									<div class="term-icon">
										@* ReSharper disable once CssNotResolved *@
										<img style="display: block; scale: 0.9;
										            height: auto;" src="@technology.ImageUrl"/>
									</div>
									@technology.Name
									<span class="child-qty">@technology.Count</span>
								</a>
							</div>
							@* ---- *@
						}
						<div class="mt-25 w-100">
							<a class="show-all-jobs-cat" href="#">See all</a>
						</div>
					</div>
				}
				@* ---- *@
			</div>

			<div class="homepage-other-categories">
				@* Repeatable *@
				<div class="homepage-other-category">
					<a href="#" class="title-count-wrap">
						<h6 class="cat-title">
							Junior/Intern <br> <span class="underlined underline-bright-green">offers</span>
						</h6>
						<span class="badge-count badge-bright-green job-qty">111</span>
					</a>
					<p class="content">
						The first job in the IT sector. Special miniboard with all Junior and Intern
						announced. In addition to the profession/technology miniboards, you can also find them here, on
						one place.
					</p>
					<a href="#" class="see-all">See all </a>
				</div>
				@* ---- *@
			</div>
		</div>
	</div>
</section>


<div class="background-element">
	<div class="eclipses">
		<div class="eclipse ellipse-1"></div>
		<div class="eclipse ellipse-2"></div>
		<div class="eclipse ellipse-3"></div>
	</div>
	<div class="glow-ellipse-background"></div>
</div>

<script>
	function submitForm() {
		document.getElementById("jobSearchForm").submit();
	}
</script>