@model HomeViewModel

@{
	var otherCategories = Model.Developments
		.Where(d => d.Name.Contains("Management") || d.Name.Contains("Junior"));

	var primaryCategories = Model.Developments
		.Where(d => !d.Name.Contains("Management") && !d.Name.Contains("Junior"));
}

<section class="site-homepage">
	<div class="container-wrap">
		<h2>Explore Opportunities</h2>
		<h2>DevHunter Awaits You.</h2>
		<p>A successful business needs a qualified team of people</p>
		<div class="section-search-job">
			<div class="input-container">
				<i class="search-icon fa-solid fa-magnifying-glass"></i>
				<form id="jobSearchForm" asp-controller="JobOffer" asp-action="AllSearch" method="get">
					<input placeholder="Find Your Dream Job here..." type="search" name="search" />
					<i class="enter-icon fa-solid fa-arrow-right" onclick="submitForm()"></i>
					<button type="submit" hidden></button>
				</form>
			</div>
		</div>
	</div>
</section>

<section class="homepage-categories">
	<div class="inner">
		<div class="container">
			<div id="section-category-block" class="section-category-block">
				@foreach (var development in primaryCategories)
				{
					<div class="category-block">
						<a class="section-collapse collapsed">
							<img src="~/svgs/arrow-right-blue.svg" alt="Collapse section">
						</a>
						<div class="category-block-title-holder">
							<a class="category-name" asp-area="" asp-controller="JobOffer" asp-action="All" asp-route-id="@development.Id">
								@development.Name
								<span class="job-qty">@development.Count</span>
							</a>
						</div>
						@foreach (var technology in development.Technologies)
						{
							<div class="child-term">
								<a href="#">
									<div class="term-icon">
										@* ReSharper disable once CssNotResolved *@
										<img style="display: block; scale: 0.9;
										            height: auto;" src="@technology.ImageUrl" />
									</div>
									@technology.Name
									<span class="child-qty">@technology.Count</span>
								</a>
							</div>
						}
						<div class="mt-25 w-100">
							<a class="show-all-jobs-cat" asp-area="" asp-controller="JobOffer" asp-action="All" asp-route-id="@development.Id">See all</a>
						</div>
					</div>
				}
			</div>

			<div class="homepage-other-categories">
				@foreach (var category in otherCategories)
				{
					@* Repeatable *@
					<div class="homepage-other-category">
						<a asp-area="" asp-controller="JobOffer" asp-action="All" asp-route-id="@category.Id" class="title-count-wrap">
							<h6 class="cat-title">
								@category.Name <br> <span class="underlined underline-bright-green">offers</span>
							</h6>
							<span class="badge-count job-qty">@category.Count</span>
						</a>
						<p class="content">
							The first job in the IT sector. Special miniboard with all Junior and Intern
							announced. In addition to the profession/technology miniboards, you can also find them here, on
							one place.
						</p>
						<a asp-area="" asp-controller="JobOffer" asp-action="All" asp-route-id="@category.Id" class="see-all">See all </a>
					</div>
					@* ---- *@
				}
			</div>
		</div>
	</div>
</section>


<div class="background-element">
	<div class="eclipses">
		<div class="eclipse ellipse-1"></div>
		<div class="eclipse ellipse-2"></div>
		<div class="eclipse ellipse-3"></div>
	</div>
	<div class="glow-ellipse-background"></div>
</div>

<script>
	function submitForm() {
		document.getElementById("jobSearchForm").submit();
	}

	let categories = document.querySelectorAll('#section-category-block .category-block');

	categories.forEach(category => {
		const name = category.querySelector('.category-name').textContent.trim();

		if (name.toLowerCase().includes('backend')) {
			category.classList.add('color-back-end-development', 'border-bottom');
		} else if (name.toLowerCase().includes('infrastructure')) {
			category.classList.add('color-infrastructure', 'border-bottom');
		} else if (name.toLowerCase().includes('mobile')) {
			category.classList.add('color-mobile-development');
		} else if (name.toLowerCase().includes('frontend')) {
			category.classList.add('color-front-end-development', 'border-right', 'border-bottom', 'border-left');
		} else if (name.toLowerCase().includes('quality')) {
			category.classList.add('color-quality-assurance', 'border-right', 'border-left', 'border-bottom');
		} else if (name.toLowerCase().includes('data')) {
			category.classList.add('color-data-science', 'border-right', 'border-left', 'border-bottom');
		} else if (name.toLowerCase().includes('customer')) {
			category.classList.add('color-customer-support', 'border-right', 'border-left');
		} else if (name.toLowerCase().includes('fullstack')) {
			category.classList.add('color-full-stack-development', 'border-bottom');
		} else if (name.toLowerCase().includes('pm/ba')) {
			category.classList.add('color-pm-ba-and-more', 'border-bottom');
		} else if (name.toLowerCase().includes('erp / crm')) {
			category.classList.add('color-erp-crm-development', 'border-bottom');
		} else if (name.toLowerCase().includes('arts')) {
			category.classList.add('color-ui-ux-and-arts');
		} else if (name.toLowerCase().includes('technical')) {
			category.classList.add('color-technical-support', 'border-bottom');
		} else if (name.toLowerCase().includes('hardware')) {
			category.classList.add('color-hardware-and-engineering');
		}
	});

	let otherCategories = document.querySelectorAll('.homepage-other-categories .homepage-other-category');

	otherCategories.forEach(category => {
		const name = category.querySelector('.cat-title').textContent.trim();
		
		if (name.toLowerCase().includes('junior')) {
			category.classList.add('junior-intern')
		} else if (name.toLowerCase().includes('management')) {
			category.classList.add('it-management');
		}
	});

</script>