@model JobOfferEditFormModel

<div class="job-offer-container">
	<header class="heading">
		<h1>Edit job post</h1>
		<p>Edit your job offer from our website.</p>
	</header>
	<form asp-area="Company" asp-controller="JobOffer" asp-action="Edit" class="job-offer-add-form" method="post">
		<!--    JOB TITLE-->
		<div class="input-field">
			<input asp-for="Title" type="text" placeholder="Job title" />
			<span asp-validation-for="Title"></span>
		</div>

		<!--    JOB LOCATION-->
		<div class="dropdown job-location">
			<div class="select">
				<span class="selected">Select job-location</span>
				<div class="caret"></div>
			</div>
			<ul class="menu">
				@foreach (var locationType in Model.LocationTypeModels)
				{
					<li data-location="@locationType.LocationType">@locationType.DisplayName</li>
				}
			</ul>

			<div class="input-field" style="display: none">
				<input asp-for="Location" type="text" placeholder="Job location address" />
			</div>
			
			<input asp-for="LocationType" type="hidden" id="LocationType" />
			<span class="error_messsage" asp-validation-for="LocationType"></span>
		</div>

		<!--    EXPERIENCE LEVEL-->
		<div class="select seniority">
			<header class="option-title">Seniority</header>
			<ul class="options radio">
				<li class="option">Junior</li>
				<li class="option">1-2 years work experience</li>
				<li class="option">2-5 years work experience</li>
				<li class="option">5+ years work experience</li>
				<li class="option">Team Lead</li>
			</ul>
		</div>
		<input type="hidden" id="workingExperience" asp-for="WorkingExperience" />


		@* <div class="select work-hours">
		<header class="option-title">Schedule</header>
		<ul class="options radio">
		<li class="option">4 hours shift</li>
		<li class="option">8 hours shift</li>
		<li class="option">10 hours shift</li>
		<li class="option">12 hours shift</li>
		<li class="option">Monday to Friday</li>
		<li class="option">Day shift</li>
		<li class="option">Night shift</li>
		<li class="option">On call</li>
		<li class="option">After school</li>
		<li class="option">Choose your own hours</li>
		<li class="option">Weekends only</li>
		</ul>
		</div>*@
		
		<div class="two-input-field-range">
			<div class="dropdown pay">
				<div class="select">
					<span class="selected">Select job-salary</span>
					<div class="caret"></div>
				</div>
				<ul class="menu">
					<!--        range-->
					<!--        starting amount-->
					<!--        exact amount-->
					<!--        per year day month week hour-->
					@foreach (var salaryType in Model.SalaryTypeModels)
					{
						<li data-location="@salaryType.SalaryType">@salaryType.DisplayName</li>
					}
				</ul>
				<input asp-for="SalaryType" type="hidden" id="SalaryType" />
				<span class="error_messsage" asp-validation-for="SalaryType"></span>
			</div>
			<div class="two-input-field-pay">
				<div class="input-field">
					<input asp-for="MinSalary" type="number" placeholder="Minimum">
					<span asp-validation-for="MinSalary"></span>
				</div>
				<div class="range-to-text">to</div>
				<div class="input-field">
					<input asp-for="MaxSalary" type="number" placeholder="Maximum">
					<span asp-validation-for="MaxSalary"></span>
				</div>
			</div>
		</div>

		<!--PAY-->
		<!--    maximum week hours 168-->
		<div class="two-input-field">
			<div class="input-field">
				<input asp-for="WorkingHours" type="number" placeholder="Working hours" />
				<span asp-validation-for="WorkingHours"></span>
			</div>
		</div>

		<!--    JOB DESCRIPTION-->
		<div class="rich-text-editor">
			<section>
				<header class="option-title">Description</header>
				<div class="options">
					<button id="bold" class="option-button format">
						<i class="fa-solid fa-bold"></i>
					</button>
					<button id="italic" class="option-button format">
						<i class="fa-solid fa-italic"></i>
					</button>
					<button id="underline" class="option-button format">
						<i class="fa-solid fa-underline"></i>
					</button>
					<button id="strikethrough" class="option-button format">
						<i class="fa-solid fa-strikethrough"></i>
					</button>
					<button id="insertOrderedList" class="option-button">
						<i class="fa-solid fa-list-ol"></i>
					</button>
					<button id="insertUnorderedList" class="option-button">
						<i class="fa-solid fa-list"></i>
					</button>
				</div>
			</section>
			<div class="rich-text-area" id="description-editor" contenteditable="true">@Html.Raw(Model.Description)</div>
			<input type="hidden" asp-for="Description" id="description-input" />
			<span class="error_messsage" asp-validation-for="Description"></span>
		</div>

		<!--    TECH STACK-->
		<div class="multiselect-autocomplete-tech-stack">
			<div class="job-offer-technology-tags">
				<header class="tech-stack-heading">
					<h4>Tech stack</h4>
					<p>Press enter or add a comma after each tag</p>
				</header>
				<ul class="job-tags">
					<input class="search" type="text" spellcheck="false">
				</ul>
				<div class="suggester">
				</div>
			</div>
		</div>
		<input type="hidden" asp-for="Technologies" id="selectedTechnologiesInput" />

		<button type="submit">Submit post</button>
	</form>
</div>

@section Styles {
	<style>
		.two-input-field-range {
			display: flex;
			justify-content: space-between;
			align-items: start;
			gap: 3em;
		}

		.two-input-field-range.range {
			justify-content: normal;
		}

		.dropdown.pay {
			gap: 0;
			flex: 1;
		}

		.two-input-field-pay.range {
			display: flex;
		}

		.two-input-field-pay {
			display: none;
			align-items: center;
			column-gap: 1rem;
			flex: 1;
		}

		.range-to-text {
		}

		.two-input-field-range.range .two-input-field-pay .input-field.range {
			width: 100%;
		}
	</style>

	<link rel="stylesheet" href="~/css/job-offer-add/style.css">
	<link rel="stylesheet" href="~/css/job-offer-add/dropdown.css">
	<link rel="stylesheet" href="~/css/job-offer-add/select-option.css">
	<link rel="stylesheet" href="~/css/job-offer-add/rich-text-editor.css">
	<link rel="stylesheet" href="~/css/job-offer-add/tech-stack.css">
}

@section Scripts {
	<script src="~/js/job-offer-add/script.js"></script>
	<script src="~/js/job-offer-add/dropdown.js"></script>
	<script src="~/js/job-offer-add/select-option.js"></script>
	<script src="~/js/job-offer-add/rich-tech-editor.js"></script>
	<script src="~/js/job-offer-add/tech-stack-edit.js"></script>
	<script src="~/js/job-offer-add/edit-job.js"></script>
}