@using DevHunter.Services.Data.Interfaces
@model JobOfferDetailsViewModel
@inject IJobOfferService jobOfferService

@{
	ViewBag.Id = Model.Id;
	ViewBag.JobPossition = Model.Title;

	bool isSaved = await this.jobOfferService.IsJobOfferSaved(Model.Id, this.User.GetId()!);
}


<div class="container-single-job">
	<div class="job-list-item single-job">
		<div class="company-logo-wrap">
			<!--                    TODO: try to remove attributes-->
			<img width="120" height="19"
				 src="@Model.Company.ImageUrl"
				 class="company-logo" decoding="async"
				 sizes="(max-width: 120px) 100vw, 120px">
			<span class="company-name"></span>
		</div>
		<div class="listing-content-wrap">
			<div class="title-date-wrap">
				<h6 class="job-title">@Model.Title</h6>
			</div>
			<a class="apply-button" href="#">
				<img class="btn-icon" src="~/svgs/icon-paper-plane.svg" alt="">
				Apply for the job
			</a>
			<div class="component-footer">
				<div class="tags-wrap">
					@if (Model.JobLocation != "Remote")
					{
						@if (Model.JobLocation.Contains("Hybrid"))
						{
							<span class="badge hybrid has-tooltip">
								<img class="tooltip-img" src="~/imgs/pin.png" width="12" height="20" alt="@Model.JobLocation" />
								@Model.JobLocation.Replace("Hybrid", "").Trim()
								<span class="suffix-hybrid">
									<img src="~/svgs/icon-green-hybrid.svg" />
									Hybrid
								</span>
							</span>
						}
						else
						{
							<span class="badge has-tooltip">
								<img class="tooltip-img" src="~/imgs/pin.png" width="12" height="20" alt="@Model.JobLocation" />
								@Model.JobLocation
							</span>
						}
					}
					else
					{
						<span class="badge green remote">
							<img src="~/svgs/remote-green.svg"
								 alt="Fully Remote job icon" width="20" height="15"> Fully Remote
						</span>
					}
					@if (!string.IsNullOrWhiteSpace(Model.Salary))
					{
						<div class="badge salary">
							<img class="salary-icon" src="~/svgs/icon-neto.svg" />
							@Model.Salary
						</div>
					}
				</div>
			</div>
		</div>
	</div>
	<div class="content-container left-side">
		<section class="section-categories">
			<h4 class="section-title">The advertisement has been published in the following categories</h4>
			<div class="categories-wrap">
				@foreach (var tech in Model.TechStack)
				{
					<a href="#" class="category">@tech.Name <span class="count">58</span></a>
				}
			</div>
		</section>
		<div class="job-box">
			<ul class="job-listing-meta">
				<li class="date-posted">
					<time datetime="2024-03-01">@Model.CreatedOn</time>
				</li>
				<li class="save-job">
					<form class="favourite-job-form" asp-controller="JobOffer" asp-action="Save" id="@Model.Id" method="post">
						<span class="save-job-container">
							<button type="submit" class="save-cta @(isSaved ? "saved" : null)">
								<span class="label">@(isSaved ? "Saved" : "Save")</span>
								<span class="icon save-icon"></span>
							</button>
						</span>
					</form>
				</li>
			</ul>
			<div class="tech-stack">
				<h6 class="tech-stack-title">Tech Stack / <span>Requirements</span></h6>
				<ul class="tech-stack-ul">
					@foreach (var tech in Model.TechStack)
					{
						<li class="tech-stack-item">
							<img src="@tech.ImageUrl" alt="" />
						</li>
					}
				</ul>
			</div>
			<div class="job-description">@Html.Raw(Model.Description)</div>
		</div>
		<a class="apply-button" href="#">
			<img class="btn-icon" src="~/svgs/icon-paper-plane.svg" alt="">
			Apply for the job
		</a>
	</div>
	<aside class="sidebar-container right-sidebar-company">
		<div class="box-company">
			<div class="logo-in-company-info">
				<a asp-area="" asp-controller="Company" asp-action="Detail" asp-route-id="@Model.Company.Id"><img class="company-logo" src="@Model.Company.ImageUrl" alt=""></a>
			</div>
			<h3 class="company-name-in-company-box">@Model.Company.Name</h3>
			<div class="company-name-small-heading">About the company</div>
			@* TODO: *@
			<div class="company-card">
				@Html.Raw(Model.Company.Info)
			</div>
			<a class="company-link-details more-btn" asp-area="" asp-controller="Company" asp-action="Detail" asp-route-id="@Model.Company.Id">
				More about the company
			</a>
			<a class="company-link-details" asp-area="" asp-controller="Company" asp-action="Detail" asp-fragment="jobs" asp-route-id="@Model.Company.Id">
				Look all company job offers
			</a>
		</div>

		<partial name="_JobOfferApplyModalPartial" model="@Model.ApplyModel" />
	</aside>
</div>

@section Styles {
	<link href="~/css/job-offer-detail/styles.css" rel="stylesheet" />
	<link href="~/css/job-offer-detail/job-apply-modal.css" rel="stylesheet" />
	<link href="~/css/job-offer-detail/curtain.css" rel="stylesheet" />
}

@section Scripts {
	<script src="~/js/apply-job-offer/script.js"></script>
	<script src="~/js/joboffer-partial.js"></script>
}