@model DevHunter.Web.ViewModels.JobOffer.AllFilterViewModel

<aside class="job-listing-aside aside-container">
	<div id="job-listing-aside-container">
		<div class="box miniboard-sidebar">
			<div class="filters-wrap">
				<div id="filter-job-location " class="component-filter">
					<div class="filter-head">
						<img src="~/svgs/icon-pin-hollow.svg"
							 class="icon" alt="Icon for the 'Job location'" />
						<h6 class="filter-name"> Job location </h6>
						<a class="filter-collapse">
							<img src="~/svgs/chevron.svg"
								 class="collapse-icon" alt="Collapse icon" />
						</a>
					</div>
					<div class="filter-checkboxes component-filter">
						@foreach (var location in Model.Locations.Take(5))
						{
							@if (location.Location == "Remote")
							{
								<div class="checkbox" data-value="remote">
									<input asp-for="@location.IsChecked" type="checkbox" value="@location.Location" name="location" />
									<span class="display-value">Fully Remote</span>
									<span class="counter">@location.Count</span>
								</div>
							}
							else
							{
								<div class="checkbox">
									<input asp-for="@location.IsChecked" type="checkbox" value="@location.Location" name="location" />
									<span class="display-value">@location.Location</span>
									<span class="counter">@location.Count</span>
								</div>
							}
						}
						@if (Model.Locations.Count() > 5)
						{
							<div class="filter-overflow-checkboxes component-filter hidden">
								@foreach (var location in Model.Locations.Skip(5))
								{
									@if (location.Location == "Remote")
									{
										<div class="checkbox" data-value="remote">
											<input asp-for="@location.IsChecked" type="checkbox" value="@location.Location" name="location" />
											<span class="display-value">Fully Remote</span>
											<span class="counter">@location.Count</span>
										</div>
									}
									else
									{
										<div class="checkbox">
											<input asp-for="@location.IsChecked" type="checkbox" value="@location.Location" name="location" />
											<span class="display-value">@location.Location</span>
											<span class="counter">@location.Count</span>
										</div>
									}
								}
							</div>
							<a class="more-toggle" onclick="seeMore(this)">See more @(Model.Locations.Count() - 5)</a>
						}
					</div>
				</div>
				<div id="filter-seniority" class="component-filter">
					<div class="filter-head">
						<img src="~/svgs/icon-briefcase.svg"
							 class="icon" alt="Icon for the 'Откъде ще работя'">
						<h6 class="filter-name"> Seniority </h6>
						<a class="filter-collapse">
							<img src="~/svgs/chevron.svg"
								 class="collapse-icon" alt="Collapse icon">
						</a>
					</div>
					<div class="filter-checkboxes component-filter">
						@foreach (var filter in Model.Experiences)
						{
							<div class="checkbox">
								<input asp-for="@filter.IsChecked" type="checkbox" value="@filter.Seniority" name="experience" />
								<span class="display-value">@filter.Seniority</span>
								<span class="counter">@filter.Count</span>
							</div>
						}
					</div>
				</div>
				<div id="filter-salary" class="component-filter-toggle">
					<div class="filter-head">
						<img src="~/svgs/icon-money.svg" class="icon"
							 alt="Icon for the 'Само обяви със заплати'">
						<h6 class="filter-name"> Only offers with salary </h6>
						<div class="facetwp-facet " data-name="salary"
							 data-type="checkboxes">
							<div class="facetwp-checkbox" data-value="1">
								<input id="salary-filter-slide_checkbox" type="checkbox" />
							</div>
						</div>
					</div>
				</div>
				<div id="filter-paid-leave" class="component-filter">
					<div class="filter-head">
						<img src="~/svgs/icon-calendar-blue.svg"
							 class="icon" alt="Icon for the 'Откъде ще работя'">
						<h6 class="filter-name"> Paid leave </h6>
						<a class="filter-collapse">
							<img src="~/svgs/chevron.svg"
								 class="collapse-icon" alt="Collapse icon">
						</a>
					</div>
					<div class="filter-checkboxes component-filter">
						<div class="checkbox">
							<input type="checkbox" />
							<span class="display-value">20 days</span>
							<span class="counter">50</span>
						</div>
						<div class="checkbox">
							<input type="checkbox" />
							<span class="display-value">21-25 days</span>
							<span class="counter">74</span>
						</div>
						<div class="checkbox">
							<input type="checkbox" />
							<span class="display-value">25+ days</span>
							<span class="counter">33</span>
						</div>
					</div>
				</div>
				<div id="filter-it-employees-cnt" class="component-filter">
					<div class="filter-head">
						<img src="~/svgs/icon-person.svg"
							 class="icon" alt="Icon for the 'Откъде ще работя'">
						<h6 class="filter-name"> IT team size </h6>
						<a class="filter-collapse">
							<img src="~/svgs/chevron.svg"
								 class="collapse-icon" alt="Collapse icon">
						</a>
					</div>
					<div class="filter-checkboxes component-filter">
						<div class="checkbox">
							<input type="checkbox" />
							<span class="display-value">1-9</span>
							<span class="counter">24</span>
						</div>
						<div class="checkbox">
							<input type="checkbox" />
							<span class="display-value">10-30</span>
							<span class="counter">28</span>
						</div>
						<div class="checkbox">
							<input type="checkbox" />
							<span class="display-value">31-70</span>
							<span class="counter">27</span>
						</div>
						<div class="checkbox">
							<input type="checkbox" />
							<span class="display-value">70+</span>
							<span class="counter">70</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</aside>