@model IEnumerable<DevHunter.Web.ViewModels.JobOffer.JobOfferAllViewModel>

<div class="outside-wrapper">
	<div class="table-container">
		<header class="table-heading">
			<h1>Your job posts</h1>
			<p>Look all of your job posts, which you posted.</p>
		</header>
		<main class="table-content">
			<div class="table-head">
				<div class="column-title date">Published date</div>
				<div class="column-title title">Job Offer</div>
				<div class="column-title location">Location</div>
				<div class="column-title actions"></div>
			</div>
			<div class="table-body">
				@foreach (var jobOffer in Model)
				{
					<div class="data-row">
						<div class="date">@jobOffer.CreatedOn</div>
						<div class="title">
							<a asp-area="" asp-controller="JobOffer" asp-action="Detail" asp-route-id="@jobOffer.Id">
								@jobOffer.JobPosition
							</a>
						</div>
						<div class="location">@jobOffer.JobLocation</div>
						<div class="actions">
							<a asp-area="Company" asp-controller="JobOffer" asp-action="Edit" asp-route-id="@jobOffer.Id" class="action edit-job">
								Edit
							</a>
							<form method="post">
								<button class="action remove-job"
								        type="submit"
										asp-area="Company" asp-controller="JobOffer" asp-action="Delete" asp-route-id="@jobOffer.Id"
										onclick="return confirm('Are you sure you want to delete job post: @jobOffer.JobPosition')">
									Remove
								</button>
							</form>
						</div>
					</div>
				}
			</div>
		</main>
		@* <footer class="custom-pagination">
		<!--        <a href="#" class="direction prev"><</a>-->
		<a href="#" class="current first">1</a>
		<a href="#" class="last">2</a>
		<a href="#" class="direction next">></a>
		</footer> *@
	</div>
</div>

@section Styles {
	<link href="~/css/job-offer-crud-table/styles.css" rel="stylesheet" />
	<link href="~/css/job-offer-crud-table/custom-pagination.css" rel="stylesheet" />
}