@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DevHunter.Web.ViewModels.Company.CompanyDetailViewModel

@{
	if (User.IsInRole("Company"))
	{
		Layout = "../../Areas/Manage/Views/Shared/_ManageLayout.cshtml";
	}
}

<div class="container-with-sidebar left-sidebar">
	<div class="content-container">
		<div class="company-box">
			<div class="company-logo">
				<img width="114" height="40"
				     src="@Model.ImageUrl"
				     class="company-logo wp-post-image" alt="" decoding="async" loading="lazy"
				     sizes="(max-width: 114px) 100vw, 114px">

			</div>
			<div class="company-name-holder">
				<h1>@Model.Name</h1>
				@if (Model.JobOffers.Count() != 0)
				{
					<a href="#jobs" class="company-scroll-to-job button-with-icon">
						Look job offers from @Model.Name <span class="jobs-cnt">@Model.JobOffers.Count()</span>
					</a>
				}
			</div>
		</div>
		<div id="for-the-company" class="detail-box">
			<header class="box-heading"><h2>About the company</h2></header>
			@if (!string.IsNullOrWhiteSpace(Model.Description))
			{
				<div class="business-card">
					@Html.Raw(Model.Description)
				</div>
			}
			else
			{
				<p class="no-info">NO INFO !</p>
			}
			<div class="company-info">
				<div class="box-info">
					<p class="info-type">Sector:</p>
					@if (!string.IsNullOrWhiteSpace(Model.Sector))
					{
						<p class="info-value">@Model.Sector</p>
					}
					else
					{
						<p class="info-value">?!?!?!?</p>
					}
				</div>
				<div class="box-info">
					<p class="info-type">Activities:</p>
					@if (!string.IsNullOrWhiteSpace(Model.Activity))
					{
						<p class="info-value">@Model.Activity</p>
					}
					else
					{
						<p class="info-value">?!?!?!?</p>
					}
				</div>
				<div class="box-info">
					<p class="info-type">Year of establishment:</p>
					@if (Model.FoundedYear.HasValue)
					{
						<p class="info-value">@Model.FoundedYear.Value</p>
					}
					else
					{
						<p class="info-value">?!?!?!?</p>
					}
				</div>
				<div class="box-info">
					<p class="info-type">Global workforce:</p>
					@if (Model.EmployeesCnt.HasValue)
					{
						<p class="info-value">@Model.EmployeesCnt.Value</p>
					}
					else
					{
						<p class="info-value">?!?!?!?</p>
					}
				</div>
			</div>

		</div>
		<!--        <div id="technologies" class="detail-box"></div>-->
		<div id="contacts" class="detail-box">
			<header class="box-heading"><h2>Contacts</h2></header>
			<div class="company-info icons">
				<div class="info-with-icon">
					<div class="icon">
						<img src="https://dev.bg/wp-content/themes/jobsdevbg/images/icons-22.svg" alt="" class="icon-s">
					</div>
					<h3 class="info-title">Address</h3>
					@if (!string.IsNullOrWhiteSpace(Model.Location))
					{
						<p class="info">Офис София, ул. Кукуш 1</p>
					}
					else
					{
						<p class="info">No company address provided</p>
					}
				</div>
				<div class="info-with-icon">
					<div class="icon">
						<img src="https://dev.bg/wp-content/themes/jobsdevbg/images/icons-58.svg" alt="" class="icon-s">
					</div>
					<h3 class="info-title">Website</h3>
					@if (!string.IsNullOrWhiteSpace(Model.WebsiteUrl))
					{
						<a href="@Model.WebsiteUrl" target="_blank" rel="nofollow">@Model.WebsiteUrl</a>
					}
					else
					{
						<a href="@Model.WebsiteUrl" target="_blank" rel="nofollow">No website url provided</a>
					}
				</div>
			</div>
		</div>
		<div id="jobs" class="jobs-holder">
			<h2 class="heading">Job offers in @Model.Name <span class="jobs-number-heading">(@Model.JobOffers.Count())</span></h2>
			<div class="jobs jobs-container">
				@foreach (var jobOffer in Model.JobOffers)
				{
					<partial name="_JobOfferPartial" model="@jobOffer" />
				}
			</div>
		</div>
	</div>
</div>

@section Styles {
	<style>
		.no-info {
			font-size: 10em;
			font-weight: bold;
			text-align: center;
			opacity: 0.5;
		}

		.question-mark-no-info.right-20 {
			right: 20%;
		}

		.question-mark-no-info {
			font-size: 10em;
			font-weight: bold;
			color: #304ffe;
			opacity: 0.5;
			position: absolute;
			right: 30%;
			top: -10%;
		}
	</style>

	<link href="~/css/company/styles.css" rel="stylesheet" />
}

@section Scripts {
	<script src="~/js/company/sidebar.js"></script>
}