@model CompanyDetailViewModel

@{
	if (User.IsInRole("Company"))
	{
		Layout = "../../Areas/Manage/Views/Shared/_ManageLayout.cshtml";
	}
}

<div class="container-with-sidebar left-sidebar">
	<div class="content-container">
		<div class="company-box">
			<div class="company-logo">
				<img width="114" height="40"
				     src="@Model.ImageUrl"
				     class="company-logo wp-post-image" alt="" decoding="async" loading="lazy"
				     sizes="(max-width: 114px) 100vw, 114px">

			</div>
			<div class="company-name-holder">
				<h1>@Model.Name</h1>
				@if (Model.JobOffers.Count() != 0)
				{
					<a href="#jobs" class="company-scroll-to-job button-with-icon">
						Look job offers from @Model.Name <span class="jobs-cnt">@Model.JobOffers.Count()</span>
					</a>
				}
			</div>
		</div>
		<div id="for-the-company" class="detail-box">
			<header class="box-heading"><h2>About the company</h2></header>
			@if (!string.IsNullOrWhiteSpace(Model.Description))
			{
				<div class="business-card">
					@Html.Raw(Model.Description)
				</div>
			}
			else
			{
				<p class="no-info">NO INFO !</p>
			}
			<div class="company-info">
				<div class="box-info">
					<p class="info-type">Sector :</p>
					@if (!string.IsNullOrWhiteSpace(Model.Sector))
					{
						<p class="info-value">@Model.Sector</p>
					}
					else
					{
						<p class="info-value">?!?!?!?</p>
					}
				</div>
				<div class="box-info">
					<p class="info-type">Activities :</p>
					@if (!string.IsNullOrWhiteSpace(Model.Activity))
					{
						<p class="info-value">@Model.Activity</p>
					}
					else
					{
						<p class="info-value">?!?!?!?</p>
					}
				</div>
				<div class="box-info">
					<p class="info-type">Year of establishment :</p>
					@if (Model.FoundedYear.HasValue)
					{
						<p class="info-value">@Model.FoundedYear.Value</p>
					}
					else
					{
						<p class="info-value">?!?!?!?</p>
					}
				</div>
				<div class="box-info">
					<p class="info-type">Global workforce :</p>
					@if (Model.EmployeesCnt.HasValue)
					{
						<p class="info-value">@Model.EmployeesCnt.Value</p>
					}
					else
					{
						<p class="info-value">?!?!?!?</p>
					}
				</div>
			</div>

		</div>
		<div id="technologies" class="detail-box">
			<header class="box-heading"><h2>Technologies</h2></header>
			<div class="tech-stack">
				<h6 class="tech-stack-title">Technologies / <span>programming languages ​​used in the company:</span></h6>
				<ul class="tech-stack-ul">
					@foreach (var tech in Model.Technologies)
					{
						<li class="tech-stack-item">
							@tech.Name
							<img src="@tech.ImageUrl" alt=""/>
						</li>
					}
				</ul>
			</div>
		</div>
		<div id="contacts" class="detail-box">
			<header class="box-heading"><h2>Contacts</h2></header>
			<div class="company-info icons">
				<div class="info-with-icon">
					<div class="icon">
						<img src="~/svgs/company-address.svg" alt="" class="icon-s">
					</div>
					<h3 class="info-title">Address</h3>
					@if (!string.IsNullOrWhiteSpace(Model.Location))
					{
						<p class="info">@Model.Location</p>
					}
					else
					{
						<p class="info">No company address provided</p>
					}
				</div>
				<div class="info-with-icon">
					<div class="icon">
						<img src="~/svgs/website-icon.svg" alt="" class="icon-s">
					</div>
					<h3 class="info-title">Website</h3>
					@if (!string.IsNullOrWhiteSpace(Model.WebsiteUrl))
					{
						<a href="@Model.WebsiteUrl" target="_blank" rel="nofollow">@Model.WebsiteUrl</a>
					}
					else
					{
						<a href="@Model.WebsiteUrl" target="_blank" rel="nofollow">No website url provided</a>
					}
				</div>
			</div>
		</div>
		<div id="jobs" class="jobs-holder">
			<h2 class="heading">Job offers in @Model.Name <span class="jobs-number-heading">(@Model.JobOffers.Count())</span></h2>
			<div class="jobs jobs-container">
				@foreach (var jobOffer in Model.JobOffers)
				{
					<partial name="_JobOfferPartial" model="@jobOffer" />
				}
			</div>
		</div>
	</div>
</div>

@section Styles {
	<style>
		.tech-stack-title {
			margin-bottom: 25px;
			font-size: 16px;
			line-height: 140%;
			color: rgb(89, 89, 89);
			font-family: Axiforma, sans-serif;
		}

		.tech-stack-ul {
			display: flex;
			gap: 10px;
			flex-wrap: wrap;
		}
		.tech-stack-item {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: 32px;
			padding: 8px;
			border-radius: 5px;
			background-color: white;
			/* ReSharper disable once HexColorValueWithAlpha */
			box-shadow: 0 3px 20px #0000001A;
			line-height: 1;
			gap: 5px;
		}
		.tech-stack-item img {
			max-width: 100%;
			display: inline-block;
			width: 24px;
			height: 24px;
			object-fit: contain;
		}
	</style>
	<link href="~/css/company/styles.css" rel="stylesheet" />
}

@section Scripts {
	<script src="~/js/company/sidebar.js"></script>
	<script src="~/js/joboffer-partial.js"></script>
}